.true{
    background-color:rgba(47, 255, 47, 0.658);
    border: 2px solid blue;
    border-radius: 8px;
}
.false{
    background-color: rgba(255, 0, 0, 0.377);
    border: 2px solid red;
    border-radius: 8px;
}

h3, h2{
    padding-left: 15px;

}

.question{
    border-bottom: 1px solid;
}
