.root{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.title-area{
    text-align: center;
}

.center-area{
    display: grid;
    grid-template-columns: 25fr 10fr;
}

.done{
    background-image: url("https://i.pinimg.com/originals/d7/25/4e/d7254e416786f83b2d03434983596c7d.gif");
}
